body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

header {
    background-color: #B69033;
    text-align: center;
    padding: 20px;
    color: #fff;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

header img {
    border-radius: 50%;
    max-width: 200px;
    border: 5px solid #fff;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

section {
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    color: #B69033;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

footer {
    text-align: center;
}

#myButton {
    border: none;
    background-color: #B69033;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}

#myButton:hover {
    background-color: #9E7A2B;
}

.hidden {
    display: none;
}
